*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    
    border: solid thin black;
    height: 90px;
    border-style: none;
    
    /* position: fixed; */
}
nav{
    margin-left: 270px;
    display: flex;
    justify-content: space-between;

    
}

.logo{
    width: 70px;
    margin-top: 15px;
}
.drop{
    margin-right: 300px;
    margin-top: 25px;
}

.dropdown-hover{
    margin-right: 10px;
    justify-content: space-between;
    display: flex;
    
}


.link{
    text-decoration: none;
    color: #081f89;
    font-weight: bold;
    
    gap: 10px;

}

@media(max-width: 1280px){
    nav{
        margin-left: 100px;
    }
    .drop{
        margin-right: 150px;
    }
}

@media(max-width: 840px){
    nav{
        margin-left: 50px;
    }
    .drop{
        margin-right: 50px;
        margin-left: 80px;
    }
}

@media(max-width: 428px){
    .drop{
        display: none;
    }
    .logo{
        width: 30px;
    }
    .header{
        height: 150px;
    }
}

.sec1{
    margin-left: 270px;
    margin-right: 200px;
    display: flex;
    background-color: #ffff;
    margin-top: 20px;
    position: relative;
}
.secdiv1{
    margin-top: 35px;
}

.first-h2{
    color: #000e42;
    font-size: 64px;
    line-height: 4rem;
    font-weight: 800;
    
    
}
.img1{
    width: 80%;
    margin-left: 50px;
    
}



.p1{
    font-weight: bold;
    color: #474747;
    line-height: 1.7rem;
    position: absolute;
    margin-top: 20px;
    
}

.button1{
    border: solid thin black;
    padding: 16px 32px;
    border-radius: 10px;
    background-color: #00208a;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-style: none;
    position: absolute;
    margin-top: 90px;
    
}

@media (max-width:1280px){
    .sec1{
        margin-left: 100px;
        margin-right: 100px;
    }
    .img1{
        margin-left: 100px;
    }
    
}
@media (max-width:1115px){
    .first-h2{
        font-size: 59px;
    }
}

@media (max-width:840px){
    .sec1{
        display: block;
    }
    .secdiv1{
        margin-left: -40px;
    }

    .first-h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 68px;
        font-weight: bold;
        color: #000e42;
    }
    .img1{
        margin-top: 150px;
        margin-left: -30px;
        width: 700px;
    }
}

@media (max-width:428px){
    .sec1{
        margin-left: 50px;
        margin-right: 0px;
    }
    .first-h2{
        font-size: 38px;
        margin-top: -10px;
        position: relative;
        line-height: 33px;
        margin-bottom: 20px;
        
    }
    p{
        font-size:2px;
        /* position: absolute; */
        font-weight: lighter;
        margin-top: -35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 15px;

    }
    .button1{
        padding: 12px 25px;
        margin-top: 120px;
    }
    .img1{
        width: 380px;
    }

}

.sec2{
    margin-left: 270px;
    margin-right: 190px;
    margin-top: 50px;
}
.sec2h{
    color: #050754;
    font-size: 40px;
    font-weight: 600;
    
}
.card1{
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.card-img-top{
    filter: grayscale(100%);
    text-align: justify;
}
.card-title{
    color: #050754;
    font-weight: 800;
}
.card-text{
    color: #666;
    font-weight: normal;
    font-size: 16px;

}
.li2{
    text-decoration: none;
    color: #050754;
    font-weight: bold;
}

@media (max-width :1280px){
    .sec2{
        margin-left: 100px;
    }
}
@media (max-width:1115px){
    .sec2{
        margin-right: 100px;
    }
}
@media (max-width: 840px){
    .card1{
        display: block;
    }
    .card-img-top{
        width: 50rem;
    }
}

@media(max-width:428px){
    .sec2{
        margin-left: 50px;
    }
    /* .card1{
        margin-left: -50px;
    } */
    .sec2h{
        font-size: 30px;
    }
}
